maxscale:
  version_hold: true
  config:
    threads: auto
    skip_permission_checks: true
    syslog: 1
  service:
    Test Service:
      type: service
      router: readconnroute
      router_options: slave
      filters:
        - counter
        - QLA
      servers:
        - server1
      user: maxscale
      passwd: crappyfoo
      version_string: 5.7-MariaDB-maxscale
      weightby: serv_weight
  server:
    server1:
      address: 127.0.0.1
      port: 3306
      protocol: MySQLBackend
      persistmaxtime: 300
  listener:
    type: listener
    service: Test Service
    protocol: MySQLClient
    address: 192.168.0.1
    port: 3306
    socket: /var/run/maxscale.socket
    authenticator: MySQL
  filter:
    QLA:
      type: filter
      module: qlafilter
    counter:
      type: filter
      module: topfilter

