{% set maxscale = salt['grains.filter_by']( {
    'Debian': {
        'etcdir': '/etc',
	'gpg_key': 'http://downloads.mariadb.com/MaxScale/MariaDB-MaxScale-GPG-KEY',
        'repo_url': 'deb http://downloads.mariadb.com/MaxScale/latest/[[osfullname]] [[oscodename]] main',
        'pkgname': 'maxscale',
    },
    'RedHat': {
        'etcdir': '/etc',
        'name': 'mariadb-maxscale',
        'baseurl': 'https://downloads.mariadb.com/MaxScale/latest/rhel/$releasever/$basearch',
        'humanname': 'mariadb',
        'pkgname': 'maxscale',
        'gpg_key': 'http://downloads.mariadb.com/MaxScale/MariaDB-MaxScale-GPG-KEY',
    },
}, grain='os_family', merge=salt['pillar.get']('maxscale', {}), default='Debian') %}