{% set maxscale = salt['grains.filter_by']( {
    'Debian': {
        'etcdir': '/etc',
        'gpgkeys': ['8167EE24', 'E3C94F49', '1BB943DB', 'C74CD1D8'],
        'repo_url': 'deb http://downloads.mariadb.com/MaxScale/2.1/[[osfullname]] [[oscodename]] main',
        'pkgname': 'maxscale',
    },
    'RedHat': {
        'etcdir': '/etc',
        'name': 'mariadb-maxscale',
        'baseurl': 'https://downloads.mariadb.com/MaxScale/2.1/rhel/$releasever/$basearch',
        'humanname': 'mariadb',
        'pkgname': 'maxscale',
    },
}, grain='os_family', merge=salt['pillar.get']('maxscale', {}), default='Debian') %}