{% reserved_words = ['settings','service','server','listener','filter'] %}
{% maxscale = salt['pillar.get']('maxscale', []) %}

{% for section in reserved_words %}
[{{ section }}]
{% for maxscale[section].iteritems() %}
{% endfor %}