{% set maxscale = pillar.get('maxscale', {}) -%}
{% set reserved_keys = ['service', 'server', 'listener', 'filter'] %}
{% set special_format_fields = ['servers', 'filters'] -%}

{%- for reserved_section in reserved_keys -%}
{%- for section, options in maxscale.get(reserved_section,{}).items() %}
{%- if options is mapping %}
[{{ section }}]
{%- for option, value in options.items() %}
{%- if ( option == 'filters' ) %}
{{ option }}={%- for filtername in value %}{{ filtername }}{%- if not loop.last %}|{%- endif %}{%- endfor %}
{%- elif ( option == 'servers' ) %}
{{ option }}={%- for servername in value %}{{ servername }}{%- if not loop.last %},{%- endif %}{%- endfor %}
{%- else %}
{{ option }}={{ value }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endfor %}
