{% set maxscale = pillar.get('maxscale', {}) -%}
{% set reserved_keys = ['config', 'service', 'service', 'server', 'listener', 'filter'] %}
{% set special_format_fields = ['servers', 'filters'] -%}

{%- for reserved_section in reserved_keys -%}
{%- for section, options in maxscale.get(reserved_section,{}).iteritems() %}
[{{ section }}]
{%- for option, value in options.iteritems() %}
{{ option }}={{ value }}
{%- endfor %}
{%- endfor %}
{%- endfor %}
